body {
  line-height: 1.7;
  overflow: hidden;
}

.bannermaker {
  display: flex;
  align-items: stretch; /* Stretch makes the flex items the same height. */
  height: calc(100vh - 100px);
  margin: 100px 0 0;
  padding: 0;
}

/* SIDEBAR */
#bannermaker__sidebar {
  flex-basis: 1;
  min-width: 250px;
  max-width: 250px;
  height: 100%; /* So sidebar is at least equal to screen height. */
  bottom: 0;
  top: 0;
  background: #0067f4;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s;
}

/* SIDEBAR SCROLLBARS */
#bannermaker__sidebar::-webkit-scrollbar, #bannermaker__content::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
#bannermaker__sidebar::-webkit-scrollbar-track, #bannermaker__content::-webkit-scrollbar-track {
  /* background: #0067f4; */
  background: #ffd633;
  border-left: 2px solid #ffd633;
}
#bannermaker__sidebar::-webkit-scrollbar-thumb, #bannermaker__content::-webkit-scrollbar-thumb {
  background: #ff4343;
  border-left: 2px solid #ffd633;
}
/* #bannermaker__sidebar::-webkit-scrollbar-thumb:hover, #bannermaker__content::-webkit-scrollbar-thumb:hover {
  background: #ff4343;
  border-left: 2px solid #ffd633;
} */

/* SIDEBAR hideable */
#bannermaker__sidebar.active {
  margin-left: -250px; /* Hides the sidebar to the left! */
}
#bannermaker__sidebar .bannermaker__sidebar-header {
  color: #fff;
  background: #ff4343;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0 2px 0 #121212;
}
#bannermaker__content {
  width: 100%;
  height: 100%;
  background: #ffd633;
  padding-top: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Banner Maker button and input styles */
.btn-yellow {
  width: 90%;
  margin: 5px;
  background: #ffd633;
  color: #0067f4;
  font-weight: bold;
  box-shadow: 2px 2px 0 #121212;
}
.btn-yellow:hover {
  background: #fff;
  color: #0067f4;
  font-weight: bold;
  box-shadow: 2px 2px 0 #121212;
}
.btn-pink,
.btn-leftdrawer,
.btn-savebanner {
  width: 90%;
  margin: 5px;
  background: #ff4343;
  color: #fff;
  font-weight: bold;
  box-shadow: 2px 2px 0 #121212;
}
.btn-savebanner {
    width: 100%;
}
.btn-pink:hover {
  background: #ffd633;
  color: #0067f4;
  font-weight: bold;
  box-shadow: 2px 2px 0 #121212;
}
.btn-pink.half {
  display: inline-block;
  width: 40%;
}
.btn-pink.initial {
  display: inline-block;
  width: initial;
}
.center {
  margin: 10px auto;
}
.btn-leftdrawer {
  width: 55px;
  height: 55px;
  margin-left: 14px;
}
.btn-leftdrawer:hover,
.btn-savebanner:hover {
  background: #0067f4;
  color: #fff;
}

.checkboxes {
  text-align: left;
  margin-left: 1rem;
}
.checkbox input,
.inline-field label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

#file-chosen {
  /* word-wrap: break-word; */
  background: #fff;
  color: #121212;
  width: 90%;
  padding: 5px 5px 5px 10px;
  overflow-x: auto;
  border-radius: 5px;
  box-shadow: -2px -2px #121212;
  text-align: left;
}
.progress {
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  overflow: hidden;
  font-size: .75rem;
  width: 90%;
  background-color: #ffd633;
  border-radius: 5px;
  box-shadow: -2px -2px #121212;
  margin: 0 auto;
}
.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #ff4343;
  transition: width .6s ease;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* Move dropdown triangles to the right part of the sidebar instead of directly next to the text. */
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(-50%);
}

@media (max-width: 768px) {
  #bannermaker__sidebar {
    margin-left: -250px; /* Hide by default on small screens. */
  }
  #bannermaker__sidebar.active {
    margin-left: 0; /* Show again when toggle is clicked. */
  }
}

/* Main Banner Maker editor area */
#maineditpane {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

#canvascontainer {
  position: relative;
  box-sizing: border-box;
  background: transparent url("/images/canvasbg.gif");
  cursor: move;
  margin: 1rem auto;
}
#trashcandiv {
  display: flex;
  justify-content: space-between;
  /* align-items: flex-start; */
  color: #121212;
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0 auto;
  padding-top: 0.6em;
}
#trashcan, #sadieface {
  max-width: 75px;
  align-self: flex-start;
  margin: 0 1rem 0;
}
#sadieface {
  max-width: 100px;
}

/*
#savediv {
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
} */

.canvaslayer {
  position: absolute !important;
  top: 0;
  left: 0;
  background: none;
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
}

.picture {
  border: 0;
}

#bgimagepreview,
#imagepreview {
  margin: auto;
  display: none;
  text-align: center;
  max-width: 200px;
  max-height: 200px;
}

#savebuttondiv {
  display: none;
  text-align: center;
  padding: 0;
}

.has-error, .has-success {
  width: 90%;
  border: 2px solid #fff;
  box-shadow: 1px 1px 0 #121212;
  font-weight: bold;
  margin: 3px;
}
.has-error {
  color: #ff4343;
  background: #ffd633;
}
.has-success {
  color: #0067f4;
  background: #fff;
}
.alert {
  margin: auto;
  font-weight: 200;
  text-align: center;
}
.message-pink {
  color: #ff4343;
  font-size: 1.4rem;
  font-weight: bold;
}

/* image editor buttons */
.editorinput {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

/* image library  */
#pickimage,
#pickbgimage {
  overflow-y: scroll;
  overflow-x: auto;
  height: 400px;
  background: transparent url("/images/canvasbg.gif");
}
#pickimage .ui-selecting,
#pickbgimage .ui-selecting {
  border-color: transparent;
  box-shadow: 0 0 0 3px #ffc125;
}
#pickimage .ui-selected,
#pickbgimage .ui-selected {
  border-color: transparent;
  box-shadow: 0 0 0 3px #ff7256;
}
.imagepreviewdiv {
  margin: 6px;
}
.imagepreviewdiv:hover {
  border-color: transparent;
  box-shadow: 0 0 0 3px #ffc125;
}
.imagepreviewdiv.previewshrink {
  width: 200px;
}

/* Resizing and dragging of images and text on the canvas */
.ui-resizable-handle {
  width: 9px !important;
  height: 9px !important;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #000;
  position: absolute;
}
.ui-resizable-nw {
  left: -5px;
  top: -5px;
}
.ui-resizable-ne {
  top: -5px;
  right: -5px;
}
.ui-resizable-sw {
  bottom: -5px;
  left: -5px;
}
.ui-resizable-se {
  bottom: -5px;
  right: -5px;
}
.ui-icon {
  width: 9px !important;
  height: 9px !important;
}

/* saved banners */
.bannermaker__panel {
  border-radius: 10px;
  border-collapse: collapse;
  margin: 0 1.2rem 1.2rem;
}
.bannermaker__panel .bannermaker__panel-heading {
  background: #0067f4;
  border-radius: 10px 10px 0 0;
  padding: 1em;
  margin-top: 5px;
  box-shadow: 1px 1px 1px #121212;
}
.bannermaker__panel .bannermaker__panel-heading a {
  color: #fff;
  font-size: 1.2rem;
}
.bannermaker__panel .bannermaker__panel-heading a:hover {
  color: #ffd633;
}
.bannermaker__panel .bannermaker__panel-body {
  background: #fff;
  color: #121212;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 1px 1px 1px #121212;
}
.bannermaker__panel-heading .fa {
  font-size: 1.6rem;
  float: right;
  transition: 0.3s transform ease-in-out;
}
.bannermaker__panel-heading .collapsed .fa {
  transform: rotate(90deg);
}
/* saved banners panel is scrollable */
#savedimageslist {
  width: 100%;
  height: 300px;
  overflow: auto;
  background: #ffd633;
}
