.bannermaker {
    display: flex;
    align-items: stretch; /* Stretch makes the flex items the same height. */
}

#bannermaker__sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh; /* So sidebar is at least equal to screen height. */
}
#bannermaker__sidebar.active {
    margin-left: -250px; /* Hides the sidebar to the left! */
}

#bannermaker__content {
    background: #fff;
}