.bannermaker {
    margin: -8px 0;
    display: flex;
    align-items: stretch; /* Stretch makes the flex items the same height. */
}

/* SIDEBAR */
#bannermaker__sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh; /* So sidebar is at least equal to screen height. */
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#bannermaker__sidebar.active {
    margin-left: -250px; /* Hides the sidebar to the left! */
}

#bannermaker__sidebar .bannermaker__sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#bannermaker__content {
    background: #fff;
}

/* Move dropdown triangles to the right part of the sidebar instead of directly next to the text. */
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(-50%);
}

@media (max-width: 768px) {
    #bannermaker__sidebar {
        margin-left: -250px; /* Hide by default on small screens. */
    }
    #bannermaker__sidebar.active {
        margin-left: 0; /* Show again when toggle is clicked. */
    }
}

/* banner editor */
#maineditpane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#canvascontainer {
    background: transparent url('/images/canvasbg.gif');
    cursor: move;
}

#trashcandiv {
    margin: 1rem 0;
    max-width: 75px;
    align-self: left;
}

#savediv {
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
}

.canvaslayer {
    position: absolute !important;
    top: 0;
    left: 0;
    background: none;
    display: inline;
    border: 0;
    padding: 0;
    margin: 0;
}

.picture {
    border: 0;
}

/* Resizing and dragging of images and text on the canvas */
.ui-resizable-handle {
    width: 9px !important;
    height: 9px !important;
    background-color: rgba(0,0,0,.75);
    position: absolute;
}
.ui-resizable-nw
{
    left: -5px;
    top: -5px;
}
.ui-resizable-ne
{
    top: -5px;
    right: -5px;
}
.ui-resizable-sw
{
    bottom: -5px;
    left: -5px;
}
.ui-resizable-se
{
    bottom: -5px;
    right: -5px;
}
.ui-icon {
    width: 9px !important;
    height: 9px !important;
}

