@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.logo .fas {
  vertical-align: 22%;
}
.logo-small .fas {
  text-shadow: 1px 1px 0 #0031b3;
  vertical-align: 22%;
}
.logo-small .fas:hover {
  text-shadow: none;
}
.logo {
  text-shadow: 1px 1px 0 #fff;
  font-family: "Lobster", sans-serif;
  font-size: 5rem;
  color: #ffd633;
}
.logo-small {
  text-shadow: 1px 1px 0 #0031b3;
  font-family: "Lobster", sans-serif;
  font-size: 2.6rem;
  font-family: "Lobster", sans-serif;
  color: #ffd633;
}
.logo:hover {
  text-shadow: 1px 1px 0 #fff;
  font-size: 5rem;
  color: #ff4343;
}
.logo-small:hover {
  text-shadow: none;
  color: #ff4343;
}

.membership-checkbox.fas.fa-check-circle {
  color: #ffd633;
  text-shadow: 1px 1px 0 #121212;
}

.alert {
  margin: auto;
  margin-bottom: 30px;
  font-weight: 100;
  text-align: center;
}

#sadie {
  margin-left: 10px;
  max-width: 216px;
  height: auto;
}

.ja-headerimage {
  height: 50vh;
  min-height: 300px;
  background: url("../images/1920x400.png") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 2rem;
}

.ja-headerimage h1 {
  padding-top: 2rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
}

.card {
  flex: 0 1 14%;
  background: #fff;
  color: #393939;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  margin: 8px;
  min-width: 130px;
  height: 255px;
  border: 5px solid #ffd633;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px #fff;
}

.card a {
  color: #0067f4;
  font-weight: bold;
  padding-bottom: 0.2rem;
}

.card a:hover {
  color: #ff4343;
}

.card > p {
  padding-top: 0.2rem;
}

.card-image {
  width: 100px;
  height: 100px;
  border: 2px solid #ffd633;
  margin-top: 0.2rem;
}

.mini-banner-image {
  width: 200px;
  height: 26px;
}

#coinpaymentsbuttonform > button, #paypalbuttonform > button {
  margin: 1em auto;
}

.table-striped tbody tr:first-child {
  background-color: #0067f4;
}
h4.ja-white {
  color: #fff;
}

.ja-promotionalimg {
  max-width: 468px !important;
  display: inline-block;
  margin: auto;
}

.ja-promotionaltext {
  width: 100%;
  margin: auto;
}

.gravatar-lg {
  width: 130px;
}

.ja-bottompadding {
  margin-bottom: 20px;
}

.ja-toppadding {
  margin-top: 20px;
}

.ja-toppadding2 {
  margin-top: 50px;
}

.ja-toppadding3 {
  margin-top: 100px;
}

.ja-horizontaldivider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.ja-content {
  padding: 20px 15px;
  background: #555555;
  border: 2px solid #333333;
  border-top: 0px;
  color: #fff;
}

.ja-white {
  color: #fff;
}

.ja-modal {
  background: #fff;
  border: 2px solid #555555;
}

.ja-modal-width {
  width: 50%;
}

.ja-yellowbg {
  background: #f7c916;
}

.content-wrapper {
  padding: 0 50px 30px;
}

@media (min-width: 200px) {
  .ja-content {
    font-size: 100%;
    border-right: 1px solid #a0a0a0;
  }
  h1 {
    font-size: 120%;
  }
  .ja-headerimage h1 {
    font-size: 3rem;
  }
  #sadie {
    max-width: 100px;
    height: auto;
  }
}

@media (min-width: 300px) {
  #sadie {
    max-width: 100px;
    height: auto;
  }
}

@media (min-width: 700px) {
  .ja-content {
    font-size: 110%;
    border-right: 1px solid #a0a0a0;
  }
  h1 {
    font-size: 140%;
  }
  .ja-headerimage h1 {
    font-size: 4rem;
  }
  #sadie {
    max-width: 160px;
    height: auto;
  }
}

@media (min-width: 800px) {
  .ja-content {
    font-size: 120%;
    border-right: 1px solid #a0a0a0;
  }
  h1 {
    font-size: 160%;
  }
  .ja-headerimage h1 {
    font-size: 4.5rem;
  }
  #sadie {
    max-width: 180px;
    height: auto;
  }
}

@media (min-width: 900px) {
  .ja-content {
    font-size: 140%;
    border-right: 1px solid #a0a0a0;
  }
  h1 {
    font-size: 160%;
  }
  .ja-headerimage h1 {
    font-size: 5rem;
  }
  #sadie {
    max-width: 216px;
    height: auto;
  }
}

@media (min-width: 1000px) {
  .ja-content {
    font-size: 160%;
    border-right: 1px solid #a0a0a0;
  }
  h1 {
    font-size: 180%;
  }
  .ja-headerimage h1 {
    font-size: 5.5rem;
  }
}

@media (min-width: 1100px) {
  .ja-content {
    font-size: 180%;
    border-right: 1px solid #a0a0a0;
  }
  h1 {
    font-size: 180%;
  }
  .ja-headerimage h1 {
    font-size: 6rem;
  }
}

.form .form-control {
  margin-bottom: 10px;
}
.widetableinput {
  font-size: 10pt;
  min-width: 100px;
}
.widetableselect {
  font-size: 10pt;
  min-width: 100px;
}
#userbannerspaidtable, #usertextadstable {
  border: 1px solid #121212;
  border-collapse: collapse;
  background: #fff; 
}
#userbannerspaidtable thead tr:first-child, #usertextadstable thead tr:first-child {
  color: #fff;
  background: #0067f4;
}
#userbannerspaidtable th, td {
  border: 1px solid #121212;
}
#usertextadstable th, td {
  border: 1px solid #121212;
}
table.table-condensed.table-bordered {
  border: 2px solid #121212;
  border-collapse: collapse;
  background: #fff;
}
table.table-condensed.table-bordered tr {
  border: 2px solid #121212;
}
table.table-condensed.table-bordered td {
	border: 2px solid #121212;
  }
.smallselect {
  max-width: 100px;
  display: inline-block;
}
.form .inlineform {
  display: inline-block;
}
.center {
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
