@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

body {
  /* padding-top: 100px; */
}

.ja-headerimage {
  height: 50vh;
  min-height: 300px;
  background: url('../images/1920x400.png') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 2rem;
}

.ja-headerimage h1 {
  padding-top: 2rem;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 1rem;
}

.card {
	flex: 0 1 14%;
	background: #eeeeee;
	color: #000;
	text-align: center;
	font-size: 1rem;
	padding: 1rem;
	margin: 8px;
	min-width: 130px;
	height: 255px;
	border-radius: 0.5rem;
}

.card a {
	color: #00f;
	font-weight: bold;
	padding-bottom: 0.2rem;
}

.card a:hover {
	color: #f00;
}

.card > p {
	padding-top: 0.2rem;
}

.card-image {
	background: #555555;
	width: 100px;
	height: 100px;
	border: 2px solid #fff;
	margin-top: 0.2rem;
}

.container {
	/* width: 100%; */
}

img {
	/* width: 100%; */
}

.ja-promotionalimg {
	max-width: 468px !important;
	display: inline-block;
	margin: auto;
}

.ja-promotionaltext {
	width: 100%;
	margin: auto;
}

.gravatar-lg {
	width: 130px;
}

.ja-bottompadding {
	margin-bottom: 20px;
}

.ja-toppadding {
	margin-top: 20px;
}

.ja-toppadding2 {
	margin-top: 50px;
}

.ja-horizontaldivider {
	width:5px;
	height:auto;
	display:inline-block;
}

.ja-content {
	padding: 20px 15px;
	background: #555555;
	border: 2px solid #333333;
	border-top: 0px;
	color: #fff;
}

.ja-white {
	color: #fff;
}

.ja-modal {
	background: #fff;
	border: 2px solid #555555;
}

.ja-modal-width
{
    width: 50%;
}

.ja-yellowbg {
	background:#fffa96;
}

@media (min-width: 992px) {
	/* body { padding-top: 56px; } */
}

@media (min-width:200px)
{
	.ja-content { font-size: 100%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 120%; }
	.ja-headerimage h1 { font-size: 3rem; }
}

@media (min-width:700px)
{
	.ja-content { font-size: 110%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 140%; }
	.ja-headerimage h1 { font-size: 4rem; }
}

@media (min-width:800px)
{
	.ja-content { font-size: 120%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 160%; }
	.ja-headerimage h1 { font-size: 4.5rem; }
}

@media (min-width:900px)
{
	.ja-content { font-size: 140%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 160%; }
	.ja-headerimage h1 { font-size: 5rem; }
}

@media (min-width:1000px)
{
	.ja-content { font-size: 160%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 180%; }
	.ja-headerimage h1 { font-size: 5.5rem; }
}

@media (min-width:1100px)
{
	.ja-content { font-size: 180%; border-right: 1px solid #a0a0a0; }
	h1 { font-size: 180%; }
	.ja-headerimage h1 { font-size: 6rem; }
}

.form .form-control
{
	margin-bottom: 10px;
}
.widetableinput
{
	font-size: 10pt;
	min-width: 100px;
}
.widetableselect {
	font-size: 10pt;
	min-width: 100px;
}
.smallselect {
	max-width: 100px;
	display: inline-block;
}
.form .inlineform {
	display: inline-block;
}
.center {
	margin: 0 auto;
	margin-bottom: 0.5rem;
}