Options +FollowSymLinks
RewriteEngine On

# force all web traffic to use https urls:
RewriteCond %{HTTPS} !on
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# urls with /admin/somepage/id go to the matching somepage.php file with the id of the record. ie. /admin/members/2 is /admin/members.php where $id=2
RewriteRule ^admin/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)[/]*$ /admin/index.php?page=$1&id=$2 [L,NC]
# urls with /admin/somepage go to the matching somepage.php file. ie. /admin/settings is /admin/settings.php:
RewriteRule ^admin/([A-Za-z0-9-]+)[/]*$ /admin/index.php?page=$1 [L,NC]
# urls with only /admin go to the main admin page (logged in or not):
RewriteRule ^(admin) - [L]
# urls that are NOT in /admin have the page as the first parameter, and the sponsor userid OR an ad/transaction/etc id as the second (where id would = referid).
# ie. /register/sabrina url means that the page we see is register.php and the /sabrina part is the sponsor (for the affiliate url) OR the id of an ad.
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)[/]*$ /index.php?page=$1&referid=$2 [L,NC]
# If there is no sponsor name section, just load the page ie. /register goes to register.php with no sponsor userid:
RewriteRule ^([A-Za-z0-9]+)[/]*$ /index.php?page=$1 [L,NC]
# Custom 404 page:
ErrorDocument 404 /404.php